<nav class="ui four column padded grid">
    <div class="colunm"><%= link_to 'Body Seller', root_path, class: "green column" %></div>
    <div class="column"><%= link_to 'New Body', new_cadaver_path, class: "green column"%></div>
    <div class="column"><%= link_to 'Edit Profile', edit_user_registration_path, class: "green column" %></div>
    <div class="column"><%= link_to 'Home', root_path, class: "green column" %></div>
</nav>
